@font-face {
    font-family: 'FlatBrush';
    src: url('../fonts/flatbrushnormal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.headContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    /* border: solid red 2px; */
    position: fixed;
    z-index: 1000;
    /* background-color: rgba(245, 245, 245, 0.495) !important; */
    background-color: white !important;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
}

.logo {
    /* border: solid red 1px; */
    padding-left: 5px;
    padding-right: 2px;
}

.headContainer .logo img {
    width: 55px;
    vertical-align: bottom;
}

.headContainer .title {
/*     padding-top: 9px; */
    /* border: solid blue 1px; */
}

.headContainer .title h2 {
    font-size: 1.9rem;
    font-family: FlatBrush;
    color: #CA5B22;
    font-weight: 900;
    text-align: center;
    padding-top: 11px;
}

.headContainer .title h4 {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    color: #514a47a8;
    font-weight: 700;
}

.navBar {
    display: flex;
    border: solid black 1px;
}

.navBar ul li {
    list-style-type: none;
    font-family: sans-serif;
    font-weight: bold;
}

.navBar ul li a {
    text-decoration: none;
    padding: 5px;
}

.navBar .navItems {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.navBar .navItems a {
    /* color: #3D5A80; */
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.navBar .rightItem {
    padding-top: 25px;
    align-items: center;

}

.navBar .rightItem a {
    font-size: 0.7rem;
    font-weight: 900;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 15px;
    padding-right: 15px;
    border: #3d3a38c3 solid 2px;
    border-radius: 25px;
    color: #CA5B22;
    background-color: #BAE4F0;
}
