/* FONTS */

@font-face {
    font-family: 'Courier Prime';
    src: url('../fonts/CourierPrime-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FlatBrush';
    src: url('../fonts/flatbrushnormal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hanuman';
    src: url('../fonts/Hanuman-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* Mobile First */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

/* FIXED HEADER CONTAINER */

.fixedHeader {
    border: solid;
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 2px;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    position: fixed;
    background-color: white !important;
    z-index: 1;
}

.logoImg {
    width: 50px;
    height: auto;
}

.logoImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* TITLE SECTION */

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-grow: 1;
    padding-left: 5px;
}

.title h2,
.title h4 {
    width: 100%;
    margin: 0;
}

.title h2 {
    color: #CD5A21;
    font-size: 40px;
    font-weight: normal;
    font-family: "FlatBrush";
}

.title h4 {
    font-size: 16.5px;
    font-weight: normal;
    font-family: "Courier Prime";
}

/* RIGHT SIDE TOGGLE MENU ICON  */

.toggleMenu {
    width: 45px;
    border: #CD5A21 2px solid;
    border-radius: 11px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.toggleMenu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-left: 5px;
    padding-right: 5px;
}


/* Mobile Navigation Menu Style */

.mobile-nav{
    display: flex;
    font-family: "Hanuman";
    flex-direction: column;
    margin-top: 75px;
    position: absolute;
    right: 0;
    height: 250px;
    width: 200px;
    /* background-color: #79A262; */
    background-color: #5a9e339c;
    border-radius: 11px;
    padding-top: 11px;
}

.mobile-nav a{
    display: block;
    text-decoration: none;
    width: 100%;
    padding-left: 7px;
    object-fit: contain;
    height: 25px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.dropdown{
    position: relative;
}

.submenu{
    display: none;
    background-color: #79A262;
    padding-top: 5px;
}

.dropdown:hover .submenu {
    display: block;
}

.mobile-nav span a {
    color: #CA5B22;
    border: solid #CA5B22;
    border-radius: 11px;
    width: 90%;
    justify-self: center;
    margin-top: 55px;
}

.mobile-nav span a:hover {
    color: white;
    background-color:#CA5B22;
    
}