/* FONTS */

@font-face {
    font-family: 'Courier Prime';
    src: url('../fonts/CourierPrime-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FlatBrush';
    src: url('../fonts/flatbrushnormal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hanuman';
    src: url('../fonts/Hanuman-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Mobile First */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}


/* HERO SECTION  */


.video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* TAG LINE */

.tagLine {
    display: flex;
    width: 100%;
    bottom: 35%;
    position: absolute;
    color: white;
    font-family: "Hanuman";
    font-weight: 900;
    justify-content: center;
    gap: 5px;
    overflow: hidden;
    text-shadow: 0 0 5px #ff4000c3, 0 0 10px #ff4000bc, 0 0 20px #ff4000b8, 0 0 40px #ff4000bb, 0 0 80px #ff4000bc;
    animation: glow 1.5s infinite alternate;
}

.tagLine .word {
    width: 100%;
    font-size: 8.5vw;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.word.left {
    text-align: right;
    transform: translateX(-200%);
    animation-name: slide-in-left;
}

.word.right {
    transform: translateX(200%);
    animation-name: slide-in-right;
}

/* KEYFRAMES */

@keyframes slide-in-left {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff4000d0, 0 0 10px #ff4000c8, 0 0 20px #ff4000c5, 0 0 40px #ff4000c2, 0 0 80px #ff4000c4;
    }

    100% {
        text-shadow: 0 0 10px #0033ffcc, 0 0 20px #0033ffd3, 0 0 40px #0033ffd3, 0 0 80px #0033ffd3, 0 0 160px #0033ffdb;
    }
}